<h1>Login</h1>
<form action="/session/login" method="post">
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
<br>

    <input type="submit" value="Iniciar Sesion">
</form>
<a href="/user/register">Registrate</a>
<br>
<a href="/session/login-github">Iniciar Sesion con Github</a>
