<h1>Registrar Usuarios</h1>
<form action="/session/register" method="post">
        FirstName: <input type="text" name="first_name"><br>
        LastName: <input type="text" name="last_name"><br>
        Age: <input type="number" name="age"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="text" name="password"><br>
        <br>

        <input type="submit" value="Crear">
</form>