<!DOCTYPE html>
<html>
<head>
  <title>Chat en tiempo real</title>
</head>
<body>


  <div>
    <input id="chatBox">
  </div> 
  <div>
    <p id="messageLogs"></p>
  </div>  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>