<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos en Tiempo Real</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        #product-list {
            list-style-type: none;
            padding: 0;
        }

        #product-list li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
        }

        #product-list li:last-child {
            border-bottom: none;
        }

        .delete-product {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .delete-product:hover {
            background-color: #c82333;
        }

        #add-product-form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #add-product-form input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        #add-product-form button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #add-product-form button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<ul id="product-list">
    {{#each products}}
        <li data-id="{{this._id}}">
            {{this.title}} - {{this.price}}
            <button class="delete-product" data-id="{{this._id}}">Eliminar</button>
        </li>
    {{/each}}
</ul>

<form id="add-product-form">
    <input type="text" id="title" placeholder="Título">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="text" id="code" placeholder="Codigo">
    <input type="text" id="price" placeholder="Precio">
    <input type="text" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    document.getElementById('add-product-form').addEventListener('submit', (e) => {
        e.preventDefault();
        
        const title = document.getElementById('title').value;
        const price = document.getElementById('price').value;
        const description = document.getElementById('description').value;
        const code = document.getElementById('code').value;
        const stock = document.getElementById('stock').value;
        const category = document.getElementById('category').value;        
        socket.emit('add-product', { title, description, code, price, stock, category});
    });

    socket.on('product-added', product => {
        const li = document.createElement('li');
        li.textContent = `${product.title} - ${product.price}`;
        document.getElementById('product-list').appendChild(li);
    });

    document.querySelectorAll('.delete-product').forEach(button => {
        button.addEventListener('click', (e) => {
            const productId = e.target.getAttribute('data-id');
            console.log(productId);
            socket.emit('delete-product', productId);
        });
    });

    socket.on('product-deleted', productId => {
        const li = document.querySelector(`li[data-id="${productId}"]`);
        if(li) li.remove();
    });
</script>

</body>
</html>
