<h1>Sing Up</h1>
<form action="">
        FirstName: <input type="text" name="first_name"><br>
        LastName: <input type="text" name="last_name"><br>
        Age: <input type="number" name="age"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="text" name="password"><br>
            <button type="submit">Sing Up</button>
</form>