<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Ticket</title>
</head>
<body>
    <h1>Detalles del Ticket</h1>
    <p>Número de Ticket: {{ ticket._id }}</p>
    <p>Email: {{ ticket.purchaser }}</p>
    <p>Monto de la Compra: ${{ ticket.amount }}</p>
</body>
</html>
