<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Ticket</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #007bff;
            margin-top: 20px;
        }

        p {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Detalles del Ticket</h1>
    <p>Número de Ticket: {{ ticket._id }}</p>
    <p>Email: {{ ticket.purchaser }}</p>
    <p>Monto de la Compra: ${{ ticket.amount }}</p>
</body>
</html>
